// Place all the styles related to the email controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  min-width: 500px;
}

.floating-label-form-group {
  input, textarea {
    padding-left: 20px !important;
    padding-right: 20px !important;
    border: 1px dashed gray !important;
  }
}
#success {
  color: #3f9646;
}

label.required:after {
  content: "*";
  color: red;
}
